body {
    font-family: Permanent Marker;
    background-color: #f1b2b2;
    margin: 0;
}

#header-div-index {
    position: fixed; /* Fixes the position to the top */
    top: 0; /* Ensures it's at the top of the page */
    left: 0; /* Aligns it to the left side */
    width: 100%; /* Makes the header span the full width of the page */
    background-color: red;
    padding: 20px;
    z-index: 1000; /* Makes sure it stays above other content */
}

#recipe-div-index {
   display: inline-block;
   justify-content: space-between;
}

h1, h2, h3 {
    background: red;
}

#h1-index-page {
    border-radius: 50px;
    text-align: center;
    margin-bottom: 80px;
    border: 25px double;
    margin-top: 80px;
    padding: 5px 10px;
}

div img {
    text-align: center;
}

#li-index-page {
    border: solid;
    margin-bottom: 16px;
    list-style-type: none;
    border-radius: 50px;
    background-color: red;
    text-align: center;
    padding: 10px 10px;
}