body {
    font-family: Permanent Marker;
    background-color: #e7daae ;
}

#header-div-index {
    border: 50px;
    background-color: red;
    padding: 20px;
}

h1, h2, h3 {
    background: red;
    border-radius: 50px;
    padding: 5px 10px;
}

#h1-index-page {
    text-align: center;
    
    margin-bottom: 80px;
    border-style: double;
    border-width: 25px;
}

div img {
    text-align: center;
}

#li-index-page {
    border: 2px solid red;
    margin-bottom: 16px;
    list-style-type: none;
}